<!-- RiffMates/templates/search_musicians.html -->
{% extends "base.html" %}

{% block title %}
  {{block.super}}: Search Musicians
{% endblock %}

{% block content %}
  <h1>Search Musicians</h1>

  <input name="search_text"
    placeholder="Search for musicians..."
    type="text"
    value="{{search_text}}"
    hx-get="{% url 'search_musicians' %}"
    hx-trigger="keyup changed delay:500ms"
    hx-target="#results"
    hx-push-url="true">

    <div class="results" id="results">
      {% include "partials/musician_results.html" %}
    </div>
{% endblock content %}
