<!-- RiffMates/templates/venues.html -->
{% extends "base.html" %}

{% block title %}
  {{block.super}}: Venue Listing
{% endblock %}

{% block content %}
  <h1>Venues</h1>

  {% if user.is_authenticated %}
    <a href="{% url 'add_venue' %}">Add Venue</a>
  {% endif %}

  <ul>
    {% for venue in venues %}
      <li>
        <b> {{venue.name}} </b>
        {% if venue.controlled %}
          <br/>
          &nbsp; &nbsp; &nbsp;
          <a href="{% url 'edit_venue' venue.id %}">Edit</a>
          <br/>
        {% endif %}
        {% if venue.picture %}
          <br/>
          &nbsp; &nbsp; &nbsp;
          <img src="{{venue.picture.url}}" height="50"/>
          <br/>
        {% endif %}
        {% if venue.description %}
          <br/>
          <i> &nbsp; &nbsp; &nbsp; {{venue.description }} </i>
          <br/>
        {% endif %}
        Rooms:
      </li>
